/* #box{
    width: 300px;
    height: 300px;
    background: url("imgs/camera.png");
    /*     border-radius: 20px 80px; /* cada uma das extremides pode ser inserido X Y Z W */

    /* O tamanho da caixa resultante eh a soma das bordas (padding + W+ H)
       para resolver isso. Utiliza-se o box-sizing, onde o W e H permanecerao */
    /* padding: 50px;



    box-sizing: border-box;
    }
 */

 /* Como o id box esta dentro da div, entao tudo que esta dentro da div tambem pode ser formatada */    

/* Transparencia */
/* #box h1{
    background: rgba(255, 255, 255, 0.596);
}
 */

 /* Degrade */

/*  #box {
    /* background:linear-gradient(red,yellow); */
    /* background:linear-gradient(to left, red,yellow); */
    /* background:linear-gradient(80deg, red,yellow); 
    background:radial-gradient(red,yellow,green,blue);
}
 */

/* ********************************************************************************************* */

/* Sombras */
#box{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 8px;
    background: #009670;
/*     box-shadow: 4px 4px black; */
    /* box-shadow: 4px 4px 10px 5px black; */
    box-shadow: 4px 4px black, -8px -8px red;
}

#box h1{
    color: white;
    font-size: 60px;
    text-shadow: 4px -4px 1px black;
}


/* Animacao */
@keyframes animacao{
    from {background: red;
        width: 300px;
        border-radius: 0;
        top: 0;
        left: 0;
    }
    to {background: yellow;
        width: 500px;
        top: 200px;
        left: 200px;
        border-radius: 30px;
    }
}

#box-animacao{
    background: red;
    width: 300px;
    height: 300px;
    position: relative;
    
/*  animation-name: animacao;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
*/
    animation: animacao 3s 2s 3 alternate;

}

/* Transicao */

#box-transicao{
    width: 300px;
    height: 300px;
    background: orange;
}

#box-transicao:hover{
    background:black;
    width: 400px;
/*     transition-property: background, width; */
    transition-property: all;
    transition-duration: 3s;
}
